
div.blockinfo div[data-v-26526d24] {
  display: none;
  position: absolute;
  top: 0;
  margin-top: calc(var(--spacing-4) * -1);
	margin-left: var(--spacing-2);
  font-size: var(--text-xs);
  height: calc(var(--toolbar-size) - 8px);
  padding: 0 var(--spacing-2) 0 var(--spacing-1);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-xl);
  font-weight: var(--font-thin);
  align-items: center;
  z-index: var(--z-toolbar);
	color: white;
	background-color: var(--color-blue-600);
svg[data-v-26526d24] {
    display: block;
    height: var(--text-md);
		fill: #c4dff9
}
}

div.pwTagline[data-v-2287a490] {
  font-size: var(--text-sm);
	line-height: var(--text-line-height);
	text-transform: uppercase;
	margin-bottom: var(--spacing-1);
	color: var(--pw-color-tagline, inherit);
&[data-align="left"][data-v-2287a490] {
    text-align: left;
}
&[data-align="center"][data-v-2287a490] {
    text-align: center;
}
&[data-align="right"][data-v-2287a490] {
    text-align: right;
}
}

div.pwHeading[data-v-ad832d63] {
	margin-bottom: var(--spacing-2);
	line-height: var(--text-line-height);
	color: var(--pw-color-heading, inherit);
&[data-lvl="h1"][data-v-ad832d63]{
		font-size: var(--text-2xl);
		font-weight: var(--font-normal);
}
&[data-lvl="h2"][data-v-ad832d63]{
		font-size: var(--text-xl);
		font-weight: var(--font-semi);
}
&[data-lvl="h3"][data-v-ad832d63]{
		font-size: var(--text-lg);
		font-weight: var(--font-bold);
}
&[data-lvl="h4"][data-v-ad832d63]{
		font-size: var(--text-md);
		font-weight: var(--font-bold);
}
&[data-align="left"][data-v-ad832d63] {
    text-align: left;
}
&[data-align="center"][data-v-ad832d63] {
    text-align: center;
}
&[data-align="right"][data-v-ad832d63] {
    text-align: right;
}
}
